<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <link rel="stylesheet" href="/../css/restaurantDetails.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="headerItem">
            <a href="/">
                <div class="logo">
                    <img src="/../images/logos/logo-uc.png" alt="" />
                </div>
            </a>


            <div class="container">
                <div class="search-container">
                    <form class="search-form">
                        <input type="text" name="search" placeholder="Search..." />
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>

                <div class="cart-container">
                    <div class="cart">
                        <img src="/../images/icons/icon-cart.svg" id="carticon"></i>
                        <p>Cart</p>
                    </div>

                    <div class="isicart">
                        <div class="contenisicart">
                            <p class="titleisicart">Your Cart</p>
                            <img src="/../images/icons/icon-close.svg" class="tombolclose" />
                        </div>

                        <div class="itemcontent">
                            <div class="itemcart">
                                <img src="/../images/foodImages/egg-toast.jpg" class="gambaritem" />

                                <div class="itemdetail">
                                    <div class="itemtitle">Egg & Cheeze Toast</div>
                                    <div class="itemprize">Rp.15000</div>
                                    <div>
                                        <input type="number" value="0" min="1" max="10" class="quantity" />
                                    </div>
                                </div>

                                <!-- remove -->
                                <img src="/../images/icons/icon-trash.svg" class="itemremove" />
                            </div>
                        </div>

                        <!-- total -->
                        <div class="itemtotal">
                            <div class="totaltitle">Total</div>
                            <div class="totalprize">Rp.0</div>
                        </div>
                        <!-- buy -->
                        <button type="button" class="cartbuy">Process</button>
                    </div>
                </div>

                <div class="history">
                    <img src="/../images/icons/icon-history.svg" />
                    <p>History</p>
                </div>

                <div class="profile">
                    <a href="/profile">
                        <i class="fas fa-user-circle"></i>
                    </a>
                    <p>Profile</p>
                </div>

                <div class="isihistory">
                    <div class="contenisihistory">
                        <p class="titleisihistory">History</p>
                        <img src="/../images/icons/icon-close.svg" class="tombolclosehistory" />
                    </div>

                    <div class="detailhistory">
                        <div class="notifications-container">
                            <div class="flexhistory">
                                <div class="flex-shrink-0">
                                </div>

                                <div class="error-prompt-container">
                                    <div class="error-prompt-heading">
                                        <p>Success ! </p>
                                        <p>You're Successfully checkout your cart!</p>
                                    </div>
                                    <div>
                                        <img src="/../images/icons/icon-bag.png" class="gambarhistory">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <body>

        <div class="title">
            <p> Restaurant info</p>
        </div>

        <div class="logorestaurant">
            <div class="card">
                <img src="/../images/logos/logo-restaurant-rectangle.png">
                <p>Mornoon</p>
            </div>
        </div>

        <div class="wrapdeskripsi">
            <div class="deskripsi">
                <p>Description :</p>
                <p> Isi deskrpisi hahahahah hahahaha hahahahaha hahahahaahaha hahahahahahahaha hahahahahaha hahah</p>
            </div>
        </div>

        <hr class="garis">

        <div class="titlemenu">
            <P>Menu</P>
        </div>

        <div class="flex">
            <div class="conten">
                <div class="display">
                    <img src="/../images/foodImages/egg-toast.jpg" class="contenimg" />

                    <div class="tulisan">
                        <p>Egg & Cheeze</p>
                        <p>Toast</p>

                        <div class="bintang">
                            <span class="fa fa-star checked"></span>

                            <h3>4</h3>
                        </div>
                        <div>
                            <button class="tombolBuy">Add</button>
                        </div>
                    </div>

                    <div class="font">
                        <div class="harga">
                            <p>Prize</p>
                            <p>Rp.15.000</p>
                        </div>

                        <div class="garisflex"></div>

                        <div class="harga">
                            <p>Estimation</p>
                            <p>5 minutes</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="conten">
                <div class="display">
                    <img src="/../images/foodImages/egg-toast.jpg" class="contenimg" />

                    <div class="tulisan">
                        <p>Egg & Cheeze</p>
                        <p>Toast</p>

                        <div class="bintang">
                            <span class="fa fa-star checked"></span>

                            <h3>4</h3>
                        </div>
                        <div>
                            <button class="tombolBuy">Add</button>
                        </div>
                    </div>

                    <div class="font">
                        <div class="harga">
                            <p>Prize</p>
                            <p>Rp.15.000</p>
                        </div>

                        <div class="garisflex"></div>

                        <div class="harga">
                            <p>Estimation</p>
                            <p>5 minutes</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="conten">
                <div class="display">
                    <img src="/../images/foodImages/egg-toast.jpg" class="contenimg" />

                    <div class="tulisan">
                        <p>Egg & Cheeze</p>
                        <p>Toast</p>

                        <div class="bintang">
                            <span class="fa fa-star checked"></span>

                            <h3>4</h3>
                        </div>
                        <div>
                            <button class="tombolBuy">Add</button>
                        </div>
                    </div>

                    <div class="font">
                        <div class="harga">
                            <p>Prize</p>
                            <p>Rp.15.000</p>
                        </div>

                        <div class="garisflex"></div>

                        <div class="harga">
                            <p>Estimation</p>
                            <p>5 minutes</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="conten">
                <div class="display">
                    <img src="/../images/foodImages/egg-toast.jpg" class="contenimg" />

                    <div class="tulisan">
                        <p>Egg & Cheeze</p>
                        <p>Toast</p>

                        <div class="bintang">
                            <span class="fa fa-star checked"></span>

                            <h3>4</h3>
                        </div>
                        <div>
                            <button class="tombolBuy">Add</button>
                        </div>
                    </div>

                    <div class="font">
                        <div class="harga">
                            <p>Prize</p>
                            <p>Rp.15.000</p>
                        </div>

                        <div class="garisflex"></div>

                        <div class="harga">
                            <p>Estimation</p>
                            <p>5 minutes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img src="/../images/wave.png" class="backfooter">

        <footer>
            <div class="admisi">
                <p>Admission</p>
                <p>Point of Indonesia, Jalan Sunset Boulevard, CitraLand City Losari</p>
                <p>Kawasan Centre, Kota Makassar, Sulawesi Selatan 90224</p>
                <p>infocsb@ciputra.ac.id</p>
            </div>

            <div class="logofooter">
                <img src="/../images/logos/logo-uc-black.png" />
            </div>
        </footer>

        <script src="/../js/restaurantDetails.js"></script>
    </body>

</html>