<html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Attendance</title>
  <link rel="stylesheet" href="css/viewAllRestaurant.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
</head>

<body>
  <header>
    <div class="headerItem">
      <a href="/">
        <div class="logo">
          <img src="images/logos/logo-uc.png" alt="" />
        </div>
      </a>

      <div class="container">
        <div class="search-container">
          <form class="search-form">
            <input type="text" name="search" placeholder="Search..." />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <div class="cart-container">
          <div class="cart">
            <img src="images/icons/icon-cart.svg" id="carticon"></i>
            <p>Cart</p>
          </div>

          <div class="isicart">
            <div class="contenisicart">
              <p class="titleisicart">Your Cart</p>
              <img src="images/icons/icon-close.svg" class="tombolclose" />
            </div>

            <div class="itemcontent">
              <div class="itemcart">
                <img src="images/foodImages/egg-toast.jpg" class="gambaritem" />

                <div class="itemdetail">
                  <div class="itemtitle">Egg & Cheeze Toast</div>
                  <div class="itemprize">Rp.15000</div>
                  <div>
                    <input type="number" value="0" min="1" max="10" class="quantity" />
                  </div>
                </div>

                <!-- remove -->
                <img src="images/icons/icon-trash.svg" class="itemremove" />
              </div>
            </div>

            <!-- total -->
            <div class="itemtotal">
              <div class="totaltitle">Total</div>
              <div class="totalprize">Rp.0</div>
            </div>
            <!-- buy -->
            <button type="button" class="cartbuy">Process</button>
          </div>
        </div>

        <div class="history">
          <img src="images/icons/icon-history.svg" />
          <p>History</p>
        </div>

        <div class="profile">
          <a href="your_destination_url">
            <i class="fas fa-user-circle"></i>
          </a>
          <p>Profile</p>
        </div>

        <div class="isihistory">
          <div class="contenisihistory">
            <p class="titleisihistory">History</p>
            <img src="images/icons/icon-close.svg" class="tombolclosehistory" />
          </div>

          <div class="detailhistory">
            <div class="notifications-container">
              <div class="flexhistory">
                <div class="flex-shrink-0">
                </div>

                <div class="error-prompt-container">
                  <div class="error-prompt-heading">
                    <p>Success ! </p>
                    <p>You're Successfully checkout your cart!</p>
                  </div>
                  <div>
                    <img src="images/icons/icon-bag.png" class="gambarhistory">
                  </div>
                </div>
              </div>
            </div>
  </header>

  <p class="tulisanattendance">All Restaurants</p>

  <div class="shop">
    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

    <div class="card">
      <div class="card-details">
        <img src="images/logos/logo-restaurant-rectangle.png">
        <p class="text-title">Mornoon</p>
        <p class="text-body">Here are the details of the card</p>
      </div>
      <a href="../viewshop/viewmenu.html">
        <button class="card-button">More info</button>
      </a>
    </div>

  </div>

  <img src="images/wave.png" class="backfooter">

  <footer>
    <div class="admisi">
      <p>Admission</p>
      <p>Point of Indonesia, Jalan Sunset Boulevard, CitraLand City Losari</p>
      <p>Kawasan Centre, Kota Makassar, Sulawesi Selatan 90224</p>
      <p>infocsb@ciputra.ac.id</p>
    </div>

    <div class="logofooter">
      <img src="images/logos/logo-uc-black.png" />
    </div>
  </footer>

  <script src="js/viewAllRestaurant.js"></script>
</body>

</html>